@import "../styles/main.scss";

.signup-section {
  @extend .pa4;
  @extend .pa5-l;
  @extend .depth-1;
}

.form {
  @extend .center, .mw7, .pa4, .tc;
  @extend .br2-ns;
}

.form-input-field {
  @extend .black-80,
    .bn,
    .f6,
    .input-reset,
    .lh-solid,
    .pa3,
    .w-100,
    .mv2,
    .bb-ns,
    .outline-0,
    .bg-transparent;
  @extend .f5-l;
  border-color: $color-tertiary;
  transition: border-color 200ms ease-in-out;

  &:focus {
    border-color: $color-secondary;
  }
}

.form-submit {
  @extend .button-base, .mt4, .mb2, .bn;
}
