@import "../styles/main.scss";

.featured-tag-item-container {
  @extend .center, .w-100;
  @extend .w-40-m;
  @extend .w-25-l;
  @extend .mb4;
  padding: 8px;
  background-color: #fff;
  border: 1px solid $color-tertiary;
  transition: all 0.3s ease-in-out;

  &:hover {
    @extend .depth-1;
    border-color: $color-secondary;
  }
}

.featured-tag-item {
  @extend .h-100, .pa3;
  @extend .bg-primary;

  a {
    @extend .no-underline;
  }
}
